.grid-gallery__container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .grid-gallery__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .grid-gallery__container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 490px) {
  .grid-gallery__container {
    padding: 0 16px;
  }
}