.footer__name {
  margin: 0 0 0 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #fff;
}

@media screen and (max-width: 688px) {
  .footer__name {
    margin: 48px 0 0 0;

  }
}