.footer__flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 688px) {
  .footer__flex-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}