.lead__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 688px) {
  .lead__title {
    font-size: 68px;
    line-height: 1;
  }
}

@media screen and (max-width: 490px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}