.header__lang-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
}

@media screen and (max-width: 490px) {
  .header__lang-list {
    font-size: 18px;
    line-height: 20px;
  }
}