.cover__title {
  margin: 0 0 32px 0;
  max-width: 560px;

  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 520px) {
  .cover__title {
    margin: 0 0 16px 0;

    font-size: 50px;
    line-height: 50px;
  }
}